
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Regular.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
